.body {
    margin: 0%;
    padding: 0%;
}
#topo {
    background-color: #ffffff !important;
    color: #000 !important; 
}
.img-logo {
    width: 100px;
    height: 44px;

}


#topo a.navbar-brand,
#topo a.nav-link {
    color: #000 !important; 
}

/* ===================== LOGIN ===================== */


#login-page {
    background-image: url('../imagens/logi.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4F7F6;
    
}

.form-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 85vh;
}

.form-box {
    width: 100%;
    max-width: 500px;  
    padding: 40px;
    position: relative;
    box-sizing: border-box;
    margin-top: 0;
}

.bg-form {
    background-color: rgba(0, 0, 0, 0.735);
}

.titulo-form {
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
}

.w-form {
    width: 80%;
}

.alert-color {
    background-color: rgb(255, 255, 255);
    color: black;
}

.text-form {
    color: white;
    font-size: large;
}

.btn-size {
    width: 100%;
}

/* ===================== FIM LOGIN ===================== */


/* ===================== ADMIN INDEX ===================== */

.bg-admin {
    margin-top: 30px;
}


.custom-btn {
    flex: 1; 
    min-width: 140px; 
    padding: 20px;
    text-align: center;
    background-color: #cbdcef;
    border-color: #cbdcef;
    color: black;
}

.welcome {
    margin-top: 50px;
    padding: 10px;
    background-color: #cbdcef;
    border-radius: 5px;
}

.acess {
    color: black;
}

.text-admin {
    font-size: 26px;
}




/* ===================== FIM ADMIN INDEX ===================== */



/* ===================== CATEGORIAS ===================== */

.text-category {
    /* background-color: red; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-gray {
    background-color: #d6dbe1;
}

.btn-operations {
    border-radius: 50%;
    background-color: #d6dbe1;
    color: rgb(81, 77, 77);

}

/* ===================== FIM CATEGORIAS ===================== */



/* ===================== INDEX ===================== */

.card-index {
    margin-top: 10px;
    /* padding: 20px; */
    margin-bottom: 20px; 
    
}

.box-index {
    margin-top: 30px;
    margin-left: 0%;
    margin-right: 0%;
    padding: 15px;
}


.card-index img {
    height: 200px;
    object-fit: cover; 
    width: 100%; 
}

.text-title {
    font-weight: bold;
    font-size: 15.6px;
}

.div-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.text-category-destaque {
    font-size: 14px;
}
.text-category-color {
    color: #0056b3;
    font-weight: bold;
}

.icon-destaque {
    width: 24px !important;        
    height: 24px !important;  
    object-fit: contain !important;     
    
}

.card-bod {
    height: 190px;
    padding: 0%;
    display: flex;
    align-items: flex-end;
}


/* ===================== FIM INDEX ===================== */


/* ===================== NOTICIA DETALHE ===================== */

.title-detalhe {
    text-align: left;
    width: 70%;
    
}
.title-detalhe-div {
    padding: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.categoria-detalhes {
    text-align: left;
    width: 70%;    
}


.categ-date {
    display: flex;
    gap: 5px;
    align-items: center;   
}

.pipe-detalhe {
    color: #d6d0d0;
}

.img-detalhes {
    width: 70%; 
    padding-top: 15px;
}

.div-textos {
    margin-top: 60px;
    width: 70%;    
}

.div-textos {
    text-align: left; 
    font-size: 16px; 
    line-height: 1.6; /* Aumenta o espaçamento entre linhas para melhor leitura */
}

.div-textos h1 {
    font-size: 24px;
}

.div-textos h2 {
    font-size: 20px;
}

.div-textos h3 {
    font-size: 18px;
}

.div-textos p {
    margin-bottom: 1rem; 
}

.div-textos ul, .div-textos ol {
    padding-left: 20px; 
}

.markdown-content img {
    width: 300px;

}


/* ===================== FIM NOTICIA DETALHE ===================== */



/* ===================== SOBRE ===================== */


.parallax {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.623);
    ; 
}

#section1 {
    position: relative;
    
}

#section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imagens/group.jpg);
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(20%);    
    z-index: -1;
}

.message {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 50%;
}

#section2 {
    background-color: rgb(0, 0, 0);
    height: 50vh; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
.block  .message h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-left: 55px;
  }
  
  .block {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .block .message h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: left;
}
.block .message p {
    margin-left: 55px;
    color: rgb(0, 0, 0);
    text-align: left;
    width: 60%;
  }
#section2 .message h1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: right;
    width: 90%;
}
#section2 .message p {
    
    color: rgb(255, 255, 255);
    text-align: right;
    width: 90%;
  }
  
.our-team {
    background-color: #F4F7F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.div-nosso-team {
    background-color: #ffffff;
    margin: 10px auto; 
   
    max-width: 300px; 
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    padding: 10px 20px; 
}


.p-nosso-team {
    margin: 0;
    position: relative;
    padding: 6px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


.div-nosso-team::before,
.div-nosso-team::after {
    content: "";
    width: 10px; 
    height: 10px;
    background-color: red; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.div-nosso-team::before {
    left: 10px;
}

.div-nosso-team::after {
    right: 10px;
}

.p-membros{
    width: 50%; 
    font-size: 13px;
    text-align: center;
}



.small-card {
    height: 260px; 
    display: flex;
    flex-direction: column;
    max-width: 220px;
    margin: auto; 
}




.small-card .card-img-top {
    height: 620px; 
    object-fit: cover; 
}

.small-card .card-body {
    padding: 10px; 
    flex-grow: 1;
}



.overlay-circle {
    position: absolute;
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 37, 37);
    width: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
}

.title-card-members {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}


.text-card-members {
    font-size: 12px;
    margin: 0;
}


.card-body i {
    font-size: 20px;
    color: #444;
    cursor: pointer;
    
    
}


.me-3 {
    margin-right: 12px;
}

.img-members{
    background-color: #0056b3;
    height: 50px;

}



@media (max-width: 600px) {
    .div-nosso-team {
        
        max-width: 250px;
        padding: 8px 15px;
    }
    
    .p-nosso-team {
        font-size: 12px; 
        padding: 4px;
    }

    .div-nosso-team::before,
    .div-nosso-team::after {
        width: 8px; 
        height: 8px;
    }
    
    .div-nosso-team::before {
        left: 5px;
    }
    
    .div-nosso-team::after {
        right: 5px;
    }
    .p-membros{
        width: 90%; 
    }
}

    
  



/* ===================== FIM SOBRE ===================== */



/* ===================== CONTATO ===================== */


#section-contact {
    position: relative;
    
}

#section-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imagens/support.jpg);
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(20%);    
    z-index: -1;
}

.section-form {
    padding: 40px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.div-form {
    /* background-color: #444; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.img-contact {
    width: 400px;
    
}

.contact-form {
    max-width: 380px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.contact-form button {

    width: 35%;
    padding: 8px;
    border: 1px solid #fde906;
    border-radius: 30px;
    font-size: 16px;

}


.contact-form button {
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.contact-form button:hover {
    background-color: #ea1f1f;
}



.mapa iframe {
    width: 100%;
    max-width: 800px; /* Largura máxima para desktops */
    height: 400px; /* Altura padrão */
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .mapa iframe {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .mapa iframe {
        height: 250px;
    }
}


/* ===================== FIM  CONTATO ===================== */


/* ===================== FIM    AJUDA ===================== */

#section-ajuda {
    position: relative;
    
}

#section-ajuda::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imagens/ajuda1.jpg);
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(20%);    
    z-index: -1;
}
/* ===================== FIM  AJUDA ===================== */



.card > .card-link { 
    color: #181819; 
    text-decoration: none;
}

.card > .card-link:hover { 
    color: #0056b3; 
}

#admin .nav-link {
    color: white;
}

#admin .nav-link:hover,#admin .nav-link:focus {
    background-color: white;
    color: black;
}

.ajusta-texto {
    white-space: pre-wrap;
   
}
@media screen and (max-width: 768px) {
    .form-container {
        justify-content: center; 
    }
    .form-box {
        left: 0; 
        margin-top: 20px; 
    }

    .title-detalhe {
        width: 100%;
        
    }
    .title-detalhe-div {
        margin-top: 40px;
        padding: 0px;
      
    }
    
    .categoria-detalhes {
        width: 100%;    
    }

    .img-detalhes {
        width: 100%; 
       
    }
    
    .div-textos {
        width: 100%;    
    }
    .parallax {
        height: 30vh; 

      }
    
 

      .message {
        width: 100%;
    }
    
    .img-contact {
        display: none;
    }

    
   
}
